<p id="notice"><%= notice %></p>

<h1>Porducts</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th>Vendor</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @porducts.each do |porduct| %>
      <tr>
        <td><%= porduct.name %></td>
        <td><%= porduct.price %></td>
        <td><%= porduct.vendor %></td>
        <td><%= link_to 'Show', porduct %></td>
        <td><%= link_to 'Edit', edit_porduct_path(porduct) %></td>
        <td><%= link_to 'Destroy', porduct, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Porduct', new_porduct_path %>
